<launch>
    <node pkg="joy" type="joy_node" name="joystick_driver" />
    
    <node pkg="joy_teleop_agv" type="joy_teleop_node.py" name="joy_teleop_node" output="screen">
        
        <param name="joystick_port" value="js0"/>
        
        <param name="agv_max_linear_velocity" value="0.6"/>

        <param name="agv_max_angular_velocity" value="0.6"/>

    </node>
</launch>
